
Pic98/.vs/Pic98/v15/.suo
Pic98/.vs/Pic98/v15/Server/sqlite3/
Pic98/Pic98/bin/
Pic98/Pic98/obj/
Pic98/Pic98/appsettings.json
Pic98/Pic98/appsettings.Development.json
Pic98/Pic98/appsettings.Development.json
